/*@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');*/
/**/
/*body {*/
    /*font-family: 'ZCOOL XiaoWei';*/
/*}*/

@font-face {
    font-family: 'ZiXiaoHunXueGenYuanKaiShu';
    src: url('https://storage.enltc.pages.dev/font/ZiXiaoHunXueGenYuanKaiShu.ttf') format('truetype');
}

body {
    font-family: 'ZiXiaoHunXueGenYuanKaiShu';
}